params {
    counts     = "data/raw/gene_counts.csv"
    metadata   = "data/raw/sample_metadata.csv"
    actionable = "data/reference/actionable_genes.csv"
    outdir     = "results"
}

profiles {
    local {
        process.executor = 'local'
        process.cpus = 2
        process.memory = "2 GB"
        timeline.enabled = false
    }

    conda {
        process.conda = "${projectDir}/environment.yml"
    }
}
